@import "tailwindcss";

/* Set default font for the entire application */
html, body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#bottom {
  background: linear-gradient(transparent, black);
}

:root {
  --c1: rgb(7, 35, 67);
  --c2: rgb(20, 65, 117);
  --c3: rgb(29, 84, 108);
  --c4: rgb(244, 244, 244);
}